/* This is a stylesheet */

body {
  background-color:#A3C6C4; 
} 

h1 { 
  text-align:center; 
  color: #6C7A89;
  font-size: 40px;
  font-family:sans-serif;
  font-style:bold;
} 

p {
  text-alighn:center;
  color: #6C7A89;
  font-size: 35px;
  font-family:sans-serif;
}

h2 {
  text-align:left;
  color: #E0E7E9;
  font-size: 25px;
  font-family:sans-serif; 
}

h3 {
  text-align:left;
  color: #E0E7E9;
  font-size: 25px;
  font-family:sans-serif; 
}
