/* This is a stylesheet */

body {
  background-color:#A3C6C4; 
} 

h1 { 
  text-align:center; 
  color:#0C4A60;
  font-size:40px;
  font-family:sans-serif;
  font-style:bold;
  border-style:solid;
  border-radius:5px; 
  border-color:#E0E7E9;
  margin-top:50px;
} 

h2 {
  text-align:center;
  color:#E0E7E9;
  font-size:20px;
  font-family:sans-serif; 
}

h3 {
  text-align:center;
  color:#E0E7E9;
  font-size:20px;
  font-family:sans-serif; 
} 

p {
  text-align:left;
  margin-left:25px; 
  color:#E0E7E9;
  font-size:20px;
  font-family:sans-serif;
}

a:link {
  text-decoration:underline; 
  color:#934A5F;
  font-style:bold;
  font-family:sans-serif;
}

a:visited {
  text-decoration:underline; 
  color:#934A5F;
  font-style:bold;
  font-family:sans-serif;
}

a:hover {
  text-decoration:underline; 
  color:#E0E7E9;
  font-style:bolder; 
  font-family:sans-serif;
}
